.quotemee-icon {
    display: none;
    width: 24px !important;
    height: 24px !important;
    opacity: 0.9 !important;
    z-index: 999999 !important;
    cursor: pointer !important;
    border-radius: 9px !important;
    position: absolute !important;
    background-size: 10px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
  .quotemee-icon:hover {
    opacity: 1.0 !important;
  }